@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main-new-pass {
    position: relative;
    padding: 0;
    margin: 0;
}

.new-pass-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.new-pass-left-sidebar,
.new-pass-right-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-pass-content {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-pass-form {
    width: 100%;
}

.new-pass-form form h2 {
    margin-bottom: 1.5rem;
    font-family: 'Inter',
    sans-serif;
    font-weight: 600;
}
.new-pass-form form h2~p {
    margin-bottom: 3.5rem;
    font-family: 'Inter',
    sans-serif;
    font-weight: 500;
}

.form-input {
    margin-bottom: 2rem;
}

.new-pass-form-input {
    border: unset;
    padding-bottom: 2rem;
    width: 95%;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 600;
    color: rgba(12, 8, 8, 0.5);
}

.input-gender p {
    margin-bottom: 2rem;
}

.input-gender label:nth-child(2) {
    padding-right: 2rem;
}

.btn-new-pass {
    width: 60%;
    padding: 1.4em;
    border-radius: 8px;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.input-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 700px) {
    .new-pass-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .new-pass-content {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .new-pass-left-sidebar {
        display: none;
    }

    .new-pass-form form h2 {
        margin-bottom: 5rem;
        font-size: 2.5rem;
    }

    .password-field {
        width: 87%;
    }

    .btn-new-pass {
        width: 100%;
    }

    .new-pass-text {
        font-size: 1.8rem;
        font-weight: bold;
        color: #000000;
        margin-top: 5rem;
    }
}