<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouOnline</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/mainstyle.css" />
    <link rel="stylesheet" href="css/new-password/new-password.css" />
  </head>
  <body>
    <div class="main-new-pass">
      <div class="new-pass-wrapper">
        <div class="new-pass-left-sidebar">
          <div class="new-pass-content">
            <img src="images/pana.png" alt="" class="resposive-img" />
          </div>
        </div>
        <div class="new-pass-right-sidebar">
          <div class="new-pass-content">
            <div class="new-pass-form">
              <form>
                <h2 class="heading-md">New Pssword</h2>
                <p>
                  Enter the 6 digit verification code we sent to your Email
                  Address
                </p>
                <div class="form-input input-border">
                  <input
                    type="password"
                    class="new-pass-form-input password-field"
                    placeholder="New Password"
                  />
                  <i class="fas fa-eye-slash"></i>
                </div>
                <div class="form-input input-border">
                  <input
                    type="password"
                    class="new-pass-form-input password-field"
                    placeholder="Confirm Password"
                  />
                  <i class="fas fa-eye-slash"></i>
                </div>
                <div class="form-input">
                  <button class="ubtn btn-new-pass uprimary">DONE</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
