{% extends 'index.html' %}
{% load static %}
{% block content%}
<br><br><br>
<div class="container">

    <a href="{% url 'all-post'%}">Back to feed</a>
    <div class="row  mt-5">
        <div class="col-lg-6 mx-auto" >
            <h4 class="alert alert-success">Comment</h4>
            <form action="#" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <br>
            <button type="submit" class="btn btn-success">submit</button>
            </form>

        </div>
    </div>
</div>



{% endblock %}