{% extends 'index.html' %}
{% load static %}
{% block content%}

<div class="you-container">
    <div class="row">
        <div class="col">
            <a href="{% url 'logout' %}">Logout</a> <br>{{user.username}}
            {% for p in posts %}
            <div class="home-wall wall-offset mx-auto">
                <div class="center-timeline">
                    <div class="white-card wall-post">
                        <div class="post-profile">
                            <div class="post-profile-left">
                                {% if user.profile_image %}
                                <img src="{{user.profile_image.url}}" alt="">
                                {% else %}
                                <img src="{% static 'default.jpg'%}" alt="">
                                {% endif %}

                             
                                <div>
                                    <p>{{user.username}}</p>
                                    <small>{{p.created_at}}</small>
                                </div>
                            </div>
                            <div class="post-ellipsis">
                                <i class="fas fa-ellipsis-h"></i>
                                
                                <a href="{% url 'delete-post' p.id%}">Delete</a>
                            </div>
                        </div>

                        <div class="post-content">

                            <p style="text-align: justify;">{{p.content}}</p>

                        </div>

                        {% for pm in postmedia %}

                        {% if pm.post.id == p.id %}

                        <div class="post-media">

                            {% if pm.image %}
                            <img src="{{pm.image.url}}" alt="" class="img-fluid" />
                            {% endif %}
                            {% if pm.video %}
                            <video src="{{pm.video.url}}" alt="" class="video-fluid" controls></video>
                            {% endif %}

                      
                        </div>

                        {% endif %}
                        {% endfor %}
                        <div class="post-reacts">
                            <img src="{% static 'images/Like-500px 1.svg' %}" alt="">
                            <img src="{% static 'images/red-heart.svg' %}" alt="">
                            <span>{{ p.like.all.count }}</span>
                        </div>
                        <form method="POST" action="{% url 'like' p.pk %}">

                        <div class="post-comment-section">
                            <div class="post-comment-react">
                                <div class="like-react">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                    <img src="{% static 'images/like 1.svg' %}" alt="">
                                   <span>Like</span> 
                                </div>
                                <div class="reaction-emoji-box">
                                    <button type="submit" style="border: none;">
                                    <img src="{% static 'images/reaction emojis/like.gif' %}" alt="" class="img-fluid"></button>
                                    <button type="submit" style="border: none;">
                                    <img src="{% static 'images/reaction emojis/love.gif' %}" alt="" class="img-fluid"></button>
                                    <button type="submit" style="border: none;">
                                    <img src="{% static 'images/reaction emojis/haha.gif' %}" alt="" class="img-fluid"></button>
                                    <button type="submit" style="border: none;">
                                    <img src="{% static 'images/reaction emojis/wow.gif' %}" alt="" class="img-fluid"></button>
                                    <button type="submit" style="border: none;">
                                    <img src="{% static 'images/reaction emojis/sad.gif' %}" alt="" class="img-fluid"></button>
                                    <button type="submit" style="border: none;">
                                    <img src="{% static 'images/reaction emojis/angry.gif' %}" alt="" class="img-fluid"></button>
                                </div>
                            </button>
                            </form>
                                <div>
                                    <a href="{% url 'single-post' p.id %}"><img src="{% static 'images/chat 1.svg' %}" alt="">
                                    <span>Comment</span></a> 
                                </div>
                            </div>
                            <div>
                                Share
                            </div>
                        </div>
                       


                        {% for c in comments %}
                        {% if c.post.id == p.id %}
                        <div class="post-comments">
                            
                            <div>
                                {% if user.profile_image %}
                                <img src="{{user.profile_image.url}}" alt="">
                                {% else %}
                                <img src="{% static 'default.jpg'%}" alt="">
                                {% endif %}
                            </div>
                            <div class="wall-post-comment">
                                <div class="comment-details">
                                    <p>{{user.username}}</p>
                                    <div>
                                        <span>{{c.created_at}} </span>
                                        <i class="fas fa-ellipsis-v"></i>
                                        
                                    </div>
                                    
                                </div>
                  
                                <div>
                                    <p>{{c.comment}}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="comment-footer">
                            <a href="{% url 'delete-comment' p.id%}">Delete</a>
                        </div>
                    </div>



                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


  
{% endblock %}