{% extends 'index.html' %}
{% load static %}
{% block content%}

    <div class="main-signup mt-5">
      <div class="signup-wrapper">
        <div class="signup-left-sidebar">
          <div class="signup-content">
            <img
              src="{% static 'images/connect-with-youonline.png' %}"
              alt=""
              class="resposive-img"
            />
          </div>
        </div>
        <br><br><br>
        <div class="signup-right-sidebar mt-5">
          <div class="signup-content">
            <div class="signup-form mt-5">
              <br><br><br>
              <form class="mt-5" method="post" enctype="multipart/form-data">
                {% csrf_token %}
           
                {{form.as_p}}

                <div class="form-input">
                  <button class="ubtn btn-signup uprimary">
                    Create Thumbnail
                  </button>
                </div>
              </form>
        
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
