{% extends 'index.html' %} {% load static %} {% block content%}
<br /><br /><br />

<div class="main-login">
  <div class="login-wrapper">
    <div class="login-left-sidebar">
      <div class="login-content">
        <img
          src="{% static 'images/connect-with-youonline.png' %}"
          alt=""
          class="resposive-img"
        />
      </div>
    </div>
    <div class="login-right-sidebar">
      <div class="login-content">
        <div class="login-form">
          <h2 class="heading-md">Compress Image</h2>
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="">Image</label>
            <div class="form-input input-border">
          {{form.nameImage}}
            </div>
            <div class="form-input input-border">
           {{form.uploadedImage}}
            </div>
            <div class="form-input">
              <button class="ubtn btn-login uprimary">Compress Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
