<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouOnline</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/mainstyle.css" />
    <link rel="stylesheet" href="css/verify-code/verify-code.css" />
  </head>
  <body>
    <div class="main-vcode">
      <div class="vcode-wrapper">
        <div class="vcode-left-sidebar">
          <div class="vcode-content">
            <img src="images/cuate.png" alt="" class="resposive-img" />
          </div>
        </div>
        <div class="vcode-right-sidebar">
          <div class="vcode-content">
            <div class="vcode-form">
              <form>
                <h2 class="heading-md">Verify Code</h2>
                <p>
                  Enter the 4 digit verification code we sent to your Email
                  Address
                </p>
                <div class="form-input verify-code-section">
                  <input type="number" class="vcode-form-input" value="2" />
                  <input type="number" class="vcode-form-input" value="3" />
                  <input type="number" class="vcode-form-input" value="1" />
                  <input type="number" class="vcode-form-input" value="0" />
                </div>
                <div class="form-input">
                  <button class="ubtn btn-vcode uprimary">Verify</button>
                </div>
              </form>
              <div class="form-footer">
                Didn’t received the code?
                <a href="#" class="varification-link">Resend Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
