@charset "UTF-8";
:root{
    --site-background-color:#f7f3f3;
    --card-background-color:#ffffff;
    --theme-color:#2ad234;
    --font-color:#867E7E;
}


@font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirFont/AvenirLTStd-Book.otf") format("opentype");
    font-style: normal; 
}

:root{
    font-family: 'Avenir';
    font-size: 14px;
}
*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Avenir', sans-serif;
    font-size:0.875rem;
    font-weight: normal;
    line-height: 1.5;
    background-color: var(--site-background-color);
    letter-spacing: 0.0075em;
    color: #867E7E;
}
p,ul,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}

a, a:hover, a:focus{
	text-decoration: none;
}

button:focus, input:focus{
	outline: 0px;
}

.white-card{
    background-color: var(--card-background-color);
    border-radius: 15px;
}
.theme-font{
    color: var(--theme-color);
}
.btn-primary-theme{
    background-color: var(--theme-color);
    color:#fff;
}
.btn-secondary-theme{
    background-color: var(--site-background-color);
    color: #000;
}


/*************** Home Page style ************/
.theme-container{
    background-color: var(--card-background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    transition: all 0.2s ease-out;
    width: 100%;
}
/******************* nav bar style ************/

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.5%;
}
.main-nav-bar{
    background-color: var(--card-background-color);
    width: 100%;
}   
.main-nav-bar, .left-bar, .nav-search, .right-bar, .nav-item, .dark-bg-profile-bottom, .calender-row, .calender-days,
.calendar-footer, .write-post, .story-gallery, .post-comment-section, .comment-details,.add-posts-inputs,.post-box-react{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-search{
    width: 350px;
    background-color: var(--site-background-color);
    border-radius: 20px;
    padding: 0.7rem 1rem;
    margin-left: 3rem;
}
.nav-search .search-nav{
    width: 90%;
    background-color: var(--site-background-color);
    border: 0px;
}
.nav-item{
    padding: 1.4rem 1.2rem;
    color: #797979;
    font-size: 1rem;
}
.nav-item:focus, .nav-item:hover{
    color: var(--theme-color);
}
.home-menu a{
    border-bottom: 4px solid var(--theme-color);
    padding: 1.4rem 0.9rem;
    font-weight: 600;
    color:var(--theme-color);
}
.nav-item .nav-icon{
    width: 18px;
}
.nav-item .nav-icon-home{
    width: 19px;
}
.nav-item .nav-icon-friends, .nav-icon-message{
    width: 22px;
}
.nav-item .nav-profile-icon{
    width: 30px;
}
.nav-item img{
    margin-right: 0.5rem;
}
.setting-dropdown{
    margin-left: 0.5rem;
    height: 25px;
    width: 25px;
    background-color: var(--site-background-color);
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    cursor: pointer;
}
.message-count {
    margin-left: 0.287rem;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
    background: #FF4F4F;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    position: relative;
    bottom: 5px;
}
.friends-menu {
    border-right: 2px solid #867E7E;
    line-height: 10px;
}

/********** Main Content ***********/

.you-container{
    padding: 20px 6.5%;
    margin-top: 70px;
}

.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    height: 84vh;
    overflow-y: auto;
}
.sticky::-webkit-scrollbar {
    display: none;
}
.wall-offset{
    margin-left: 3%;
    margin-right:3%;
}
/***************** Left sidebar style  ************/
.left-sidebar{
    flex:0 0 auto;
    width: 22%;
}
.card-padding-dark{
    padding: 0 25px;
}
.dark-bg-profile{
    background-color: #000;
    border-radius:15px;
    margin-bottom: 2.5rem;
}
.dark-profile {
    position: relative;
    top: 25px;
    height: 75px;
    width: 75px;
    left: 25px;
}
.lef-profile-name {
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.03em;
    color:#000;
}
.card-padding-dark div p{
    margin-bottom: 4px;
}
.profile-view, .profile-messages-count {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    font-weight: 800;
    margin: 0.5rem 0rem;
}
.profile-view{
    margin-top: 1rem;
}
.left-side-bookmark{
    border-top: 1px solid #D8CFCF;
    border-right: 1px solid #D8CFCF;
}
.left-side-bookmark span, .left-side-premium span {
    font-size: 1rem;
    font-weight: 800;
    color: #867E7E;
}
.left-side-premium span{
    margin-left: 5px;
}
.left-side-bookmark, .left-side-premium {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1.5rem 0rem;
}
.left-side-bookmark img, .left-side-premium img{
    width: 28px;
}
.left-side-premium{
    border-top: 1px solid #D8CFCF;
}
.dark-bg-profile-bottom{
    margin-top: 1.5rem;
}
.left-menu-bar a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--font-color);
    align-items: center;
}
.left-menu-bar a img, .covid-tag img{
    width: 25px;
    margin-right: 10px;
}
.left-menu-bar {
    padding-left: 1.1rem;
}
.covid-tag {
    padding: 0.5rem;
    background-color: var(--site-background-color);
    width: 95%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 800;
    color: var(--font-color);
    position: relative;
    top: 2rem;
    margin: 3rem auto;
}
.left-menu-bar a:last-child{
    padding-bottom: 3rem;
}
.left-menu-bar a:last-child span{
    margin-right: 15px;
    height: 28px;
    width: 28px;
    background-color: var(--site-background-color);
    text-align: center;
    border-radius: 50%;
    line-height: 32px;
}

/*************** Right sidebar  ***************/
.right-sidebar{
    flex:0 0 auto;
    width: 25%;
}
.friend-request-rightside-section-header {
    padding-top: 14px;
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    color: #000;
}
.friend-request-rightside-section-header img{
    width: 25px;
    margin-right: 5px;
}
.friend-request-profile {
    padding-top: 14px;
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mutual-friends {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mutual-friends div img{
    width: 16px;
    height: 16px;
}
.mutual-friends div img:first-child{
    position: relative;
    left:7px ;
}
.mutual-friends p{
    font-size: 0.775rem;
    margin-left: 0.3rem;
}
.friend-request-profile .lef-profile-name{
    margin-bottom: 0.4rem;
    margin-left: 0.5rem;
}
.friend-request-profile > img:first-child{
    width: 51px;
    height: 51px;
}   
.follow-ignore {
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 1.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2.5rem;
}
.follow-ignore button {
    border: 0px;
    padding: 0.5rem 1.8rem;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.03em;
    margin-right: 6px;
}
.calendar-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin:1rem 0rem;
    color: #000;
}
.rs-calendar-section {
    padding: 10px 20px 30px 20px;
    font-size: 12px;
    color: #000;
}
.calender-days{
    text-align: center;
    padding: 7px 0px;
    position: relative;
}
.calender-row, .faded-date{
    color: #AFAFAF; 
}
.calendar-footer{
    margin-top: 7px;
    font-size: 9px;
}
.toggle-calendar {
    height: 14px;
    width: 35px;
    background: #F47741;
    border-radius: 20px;
    padding-left: 2px;
    margin-right: 8px;
}
.toggle-calendar div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
}
.calendar-footer div {
    display: flex;
    align-items: center;
}
.calender-check {
    margin-right: 6px;
}
.birthday-bar, .anniversaries {
    height: 5px;
    width: 25px;
    border-radius: 25%;
    margin-right: 5px;
}
.birthday-bar{
    background: rgba(42, 210, 52, 0.34);
}
.anniversaries {
    background: rgba(242, 160, 160, 0.62);
}
.annive{
    margin-right: 15px;
}
.faded-dates {
    opacity: 0;
}
.calender-birthday-event {
    position: absolute;
    background: rgba(42, 210, 52, 0.34);
    height: 25px;
    width: 36%;
    border-radius: 15px;
    left: 9%;
}
.calender-anniversary-event {
    background: rgba(244, 119, 65, 0.55);
    height: 25px;
    width: 45%;
    position: absolute;
    border-radius: 15px;
    left: 58%;
}
.white-date{
    color: #fff;
    z-index: 1000;
}
.calendar{
    margin-bottom: 15px;
}
.white-card.rs-sponsor {
    padding: 1.5rem 3rem;
}
.sponsor-icon-box{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}
.sponsor-icon-box>div {
    margin-left: 10px;
    border-bottom: 1px solid #ECE9F1;
    padding-bottom: 10px;
    width: 100%;
}
.sponsor-icon-box>div>div:nth-child(2){
    font-weight: 600;
    color: black;
    font-family: Poppins;
}
.sponsor-icon-box>div>div:first-child{
    color:#D0D1D2;
}
.you-sponsors-box {
    padding: 10px 10px;
    box-shadow: 0px 8px 8px rgb(50 50 71 / 8%), 0px 8px 16px rgb(50 50 71 / 6%);
    border-radius: 15px;
}
.sponsor-icon-box img {
    width: 40px;
    margin-right: 10px;
}

/************ Center Section **********/
.home-wall{
    flex:0 0 auto;
    width: 46%;
}
.wite-post-section {
    padding: 1.6rem 1.5rem;
}
.write-post img {
    width: 60px;
    margin-right: 1.2rem;
}
.write-post-box {
    width: 100%;
    cursor: pointer;
}
.write-post-box input {
    padding: 1rem;
    width: 100%;
    border: 1px solid rgba(216, 207, 207, 1);
    border-radius: 30px;
    color: #787878;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-family: 'Avenir';
    cursor: pointer;
}
.add-posts-inputs {
    margin-top: 2rem;
    width: 100%;
}
.add-posts-inputs a, .add-posts-inputs label {
    margin-right: 16px;
    color: #696363;
    letter-spacing: 0.03em;
    font-weight: 800;
    display: block;
    text-align: center;
}
.add-posts-gallery {
    background: #F7F7F7;
    padding: 0.6rem 1rem;
    border-radius: 25px;
    width: 28%;
}
a.add-posts-friends {
    background: #F5F9FB;
    padding: 0.6rem 0.9rem;
    border-radius: 25px;
    width: 32%;
}
a.activity {
    background: #FFF6DA;
    padding: 0.6rem 1rem;
    border-radius: 25px;
    width: 38%;
}
a.add-posts-ellipsis {
    background: #FAF0F0;
    padding: 0.7rem 1.2rem;
    border-radius: 50%;
    font-size: 0.875rem;
    margin-right: 0px;
    margin-left: 2px;
}
.add-posts-inputs a img {
    width: 23px;
    margin-right: 2px;
}
.add-posts-inputs label img {
    width: 23px;
    margin-right: 2px;
}
.story-gallery {
    margin-top: 2rem;
}
.story {
    position: relative;
    width: 22%;
}
.add-story {
    border-radius: 10px;
}
/* .add-story>img{
    width: 130px;
} */
.story-footer {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    position: relative;
    padding-bottom: 43%;
}
.story-footer img {
    position: absolute;
    width: 45px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
    bottom: 60%;
    margin-bottom: 0%;
    left: calc(50% - 45px/2);
}
.story-footer p{
    color: #696363;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: -0.025em;
    position: absolute;
    top: 40%;
    left: calc(50% - 73px/2);
}
.story-footer-1 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 8%;
    background: linear-gradient( 180deg, rgba(54, 54, 54, 0) 0%, rgba(0, 0, 0, 0.5) 48.68%);
    border-radius: 10px;
}
.story-footer-1 p {
    font-size: 1rem;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.03em;
}
.wall-post{
    padding: 1.3rem 1.3rem 1.5rem 1.3rem;
    margin-top: 2.5rem;
}
.post-profile, .post-profile-left{
    display: flex;
    justify-content: space-between;
}
.post-profile-left img {
    width: 60px;
    margin-right: 10px;
}
.post-profile-left div p{
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.03em;
    color:#000;
    margin-bottom: 3px;
    margin-top: 5px;
}
.post-profile-left div small{
    color: #797979;
}
.post-ellipsis {
    width: 30px;
    height: 30px;
    background: #FAF0F0;
    text-align: center;
    border-radius: 50%;
    line-height: 34px;
}
.post-content {
    width: 80%;
    margin: 1rem auto;
}
.post-media{
    width: 90%;
    margin: 1rem auto;
}
.post-media video{
    width: 100%;
    height: auto;
}
.post-content p{
    color: #000;
    font-weight: 600;
    letter-spacing: 0.03em;
}
.post-content a{
    color: #797979;
    font-weight: normal;
    margin-left: 10px;
}
.post-reacts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 5px;
}
.post-reacts img:first-child {
    width: 33px;
    position: relative;
    left: 3px;
}
.post-reacts img:nth-child(2) {
    width: 20px;
    margin-right: 8px;
}
.post-reacts span {
    color: #797979;
    font-family: Helvetica;
    letter-spacing: 0.03em;
}
.post-comment-react, .post-comment-react .like-react,.post-comments{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-comment-react .like-react > img{
    width: 18px;
    margin-right: 5px;
}
.post-comment-react div:first-child{
    margin-right: 10px;
}
.post-comment-section {
    padding: 14px;
    border-top: 1px solid #D8D8D8;
    margin-bottom: 1.8rem;
}
.post-comment-react div span, .post-comment-section div:nth-child(2){
    color:#797979;
    font-family: Helvetica;
    letter-spacing: 0.03em;
}
.post-comments > div >img{
    width: 42px;
    margin-right: 12px;
}
.wall-post-comment {
    width: 100%;
    background: #F7F3F3;
    border-radius: 0px 20px 20px 20px;
    padding: 1rem;
}
.comment-details{
    margin-bottom: 5px;
}
.comment-details > p{
    color: #000;
    font-weight: bold;
    letter-spacing: 0.03em;
}
.comment-details > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-details > div > span, .comment-details > div > i{
    font-size: 10px;
    color: #978F8F;
    letter-spacing: 0.03em;
}
.comment-details > div > span{
    font-family: Helvetica;
    margin-right: 10px;
}
.wall-post-comment div:nth-child(2) {
    color: #030303;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
}
.comment-footer{
    color: #797979;
    letter-spacing: 0.03em;
    margin-left: 75px;
    margin-top: 10px;
    font-size: 10px;
    font-family: Helvetica;
}

/* Post Box */
.post-popup-box {
    width: 35%;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);
    box-shadow:80px 200px 250px 200px rgba(0,0,0,0.2);
    -webkit-box-shadow:80px 200px 250px 200px rgba(0,0,0,0.2);
    padding: 1.2rem;
    display: none;
}
.post-box-title {
    padding: 1rem 0rem;
    font-size: 1.2rem;
    color: #000;
    font-weight: 800;
    border-bottom: 1px solid #A8A8A8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-box-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem 0rem;
}
.post-box-profile > img {
    width: 14%;
    margin-right: 2%;
}
.post-box-profile > div > p {
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
    letter-spacing: 0.03em;
    margin-bottom: 0.5rem;
}

.post-privacy > img {
    width: 20%;
}
.post-privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F3F3;
    width: 90%;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    font-size: 0.7rem;
}
.write-post-box textarea {
    width: 100%;
    padding: 1rem 0rem;
    border: 0px;
    font-size: 1rem;
    resize: none;
    outline: none;
}
.post-box-react{
    border-bottom: 1px solid #A8A8A8;
    padding: 1rem 0rem;
}
.post-box-react img{
    width: 35px;
}
.post-box-react i {
    font-size: 2rem;
    color: #FFC40F;
}
.post-box-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0rem;
}
.post-box-footer img {
    width: 30px;
    margin-right: 10px;
}
.post-box-footer .location-icon {
    width: 22px;
}
button.post-btn {
    border: 0px;
    background: #2AD234;
    padding: 0.622rem 2rem;
    border-radius: 13px;
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 0.03em;
}
/* profile setting dropdown */
.profile-setting {
    position: absolute;
    top: 60px;
    right: 80px;
    width: 15%;
    padding: 1.5rem;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    display: none;
}
.profile-setting-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-setting-user>img {
    width: 45px;
    margin-right: 10px;
}
.profile-setting-user div p {
    font-size: 1rem;
    color: #000;
    font-weight: 800;
    letter-spacing: 0.03em;
    margin-bottom: 2px;
}
.setting-list {
    margin: 1rem 0rem;
    border-bottom: 1px solid #867E7E;
}
.setting-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    color: #867E7E;
    font-weight: 800;
}
.setting-links div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting-ico-circle {
    margin-right: 5px;
}
p.sign-out {
    font-size: 0.9rem;
    color: #867E7E;
    font-weight: 800;
}
.setting-profile-footer {
    font-weight: 800;
    color: #867E7E;
    margin-top: 1rem;
    font-size: 0.64rem;
}
.setting-ico-circle>img{
    width: 30px;
}
.setting-links-icon{
    width: 7px;
}
/* Chat box */
.chat-box {
    padding: 1rem;
    width: 23%;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 10px 10px 0px 0px;
}
.chat-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-left-header img {
    width: 40px;
    margin-right: 10px;
}
.chat-left-header span {
    font-size: 1rem;
    color: #000;
    font-weight: 800;
    letter-spacing: 0.03em;
}
.chat-right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-right-header .post-ellipsis {
    margin-left: 5px;
}
.chat-search-user {
    background: #F7F3F3;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.chat-search-user input {
    font-family: 'Avenir';
    padding: 12px 10px 12px 20px;
    width: 85%;
    margin-right: 10px;
    border: 0px;
    background: none;
    color:#787878;
}
.chat-box .post-profile-left img {
    width: 50px;
}
.online-user{
    position: relative;
}
.online-user::after{
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--theme-color);
    top: 0;
    right: 0;
}
.chat-box .post-profile {
    padding: 10px 0px;
    border-bottom: 0.6px solid rgba(134, 126, 126,0.4);
}
.chat-box .post-profile:last-child{
    border: unset;
}
.chat-right-header .post-ellipsis{
    cursor: pointer;
}
.chat-box-body{
    display: none;
}
.last-seen {
    font-size: 0.7rem;
    font-weight: 800;
    color: #797979;
    margin-top: 10px;
}

/* Load More */
.load-more {
    margin-top: 3rem;
    text-align: center;
}
.load-more button {
    outline: none;
    border: unset;
    background: var(--theme-color);
    padding: 0.4rem 4rem;
    border-radius: 5px;
    color: #fff;
}

/* reaction emoji's design */
.post-comment-react{
    position: relative;
}
.like-react{
    cursor: pointer;
    z-index: 100;
}
.reaction-emoji-box img {
    width: 30px !important;
}
.reaction-emoji-box {
    background: rgb(255, 255, 255);
    padding: 2px;
    position: absolute;
    bottom: 34px;
    z-index: 999;
    left: -10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 5px;
    border-radius: 2em;
    cursor: pointer;
    display: none;
    width: 210px;
    z-index: 1000;
}
.reaction-emoji-box:hover{
    display: block;
}

@media only screen and (min-width: 1400px) {
    .home-menu a{
        padding: 1.4rem 1.6rem;
    }
    .nav-item{
        padding: 1.4rem 1.6rem;
        font-size: 1.1rem;
    }
}
@media only screen and (min-width: 1600px) {
    .home-menu a{
        padding: 1.4rem 2.2rem;
    }
    .nav-item{
        padding: 1.4rem 2.2rem;
        font-size: 1.2rem;
    }
}